*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #ffffff;
}


#main{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    padding: 25px 20px;
}

h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: rgb(49, 66, 122);
}

nav ul {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;
}

nav ul li {
    cursor: pointer;
    color: rgb(117, 123, 144);
}

#content{
    background-color: rgb(217, 236, 236);
    width: 100%;
    height: 83vh;
    border-color: rgb(152, 147, 141);
    padding-top: 20px;
}

#content-style{
    width: 500px;
    height: auto;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 20px;
    align-items: center;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#content-style h2{
    text-shadow: #ffffff;
    padding: 25px 20px;
    font-size: 70px;
    border-radius: 20px;
    font-weight: bold;
    color: rgb(103, 111, 138);
    background-color: rgb(165, 191, 215);
    margin-bottom: 10px;
}

#content-style p{
    font-size: 12px;
    color: rgb(103, 111, 138);
    background-color: rgb(165, 191, 215);
    padding: 7px 9px;
    border-radius: 5px;
    margin-bottom: 8px;
    font-weight: bold;
}

#content-style h3{
font-size: 30px;
margin-bottom: 15px;
}

table {
    width: 100%;
    border-spacing: 0 7px;
    direction: rtl;

}

table tr {
    background-color: rgb(235, 240, 246);
    padding: 10px 15px;
    
}

table th,
table td {

    padding: 10px 15px;
    font-size: 13px;
}

table th:first-child,
table td:first-child {
    text-align: right;
}

table th:last-child,
table td:last-child {
    text-align: left;
}

button{
    width: 100%;
    padding: 10px 15px;
    size: 20px;
    background-color: blue;
    color: #ffffff;
    border-radius: 15px;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: cadetblue;
}